---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Title from '@/components/Title';
import Alert from '@/components/common/Alert';
import IconFont from '@/components/common/IconFont';
import Button from '@/components/common/button';
import ReactAccordion from '@/components/sample/ReactAccordion';
import ReactTab from '@/components/sample/ReactTab';
import ModalTest from '@/components/ModalTest';
---

<script>
  import sample from '@/libs/sample';
  import Simplemodal from '@/libs/simplemodal';
  const simplemodal = new Simplemodal();

  sample();
</script>
<Layout title="Welcome to Astro." description={'ああああああ'}>
  <title slot="site-head">タイトル</title>

  <main>
    <h1>Welcome to <span class="text-gradient">Astro TEST</span></h1>
    <Title>ああああ</Title>
    <Alert
      alert="success"
      client:load
      >あああああ</Alert
    >

    <button data-simplemodal-trigger="modal-id-01">モーダルを開く</button>
    <div id="modal-id-01">モーダルの中身</div>

    <img src="/images/base/favicon.ico" alt="">

    <IconFont icon="file2" />

    <Button
      tagType="button"
      theme="basic"
      text="サンプルてきすと"
      leftIcon="file"
      type="button"
    />

    <a href="/about">aboutページへ</a>

    <ReactAccordion client:load />
    <ReactTab client:load />

    <ModalTest client:load />

    <!-- <Accordion defaultExpandedPanels={[0]} client:load>
      <AccordionItem client:load>
        <AccordionTrigger client:load>ボタン1</AccordionTrigger>
        <AccordionPanel client:load>アコーディオン内容1</AccordionPanel>
      </AccordionItem>
      <AccordionItem client:load>
        <AccordionTrigger client:load>ボタン2</AccordionTrigger>
        <AccordionPanel client:load>アコーディオン内容2</AccordionPanel>
      </AccordionItem>
    </Accordion> -->

    <!-- <Accordion>
      <AccordionItem>
        <AccordionTrigger>ボタン1</AccordionTrigger>
        <AccordionPanel>アコーディオン内容1</AccordionPanel>
      </AccordionItem>
      <AccordionItem>
        <AccordionTrigger>ボタン2</AccordionTrigger>
        <AccordionPanel>アコーディオン内容2</AccordionPanel>
      </AccordionItem>
    </Accordion> -->
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul
      role="list"
      class="link-card-grid"
    >
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
