@use "global" as *;

.p-csvUpload {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  @include min-screen("md") {
    padding: 40px;
  }
}

.p-csvUpload-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include min-screen("md") {
    flex-direction: row;
  }
}

.p-csvUpload-header__main {
  margin-right: auto;
}

.p-csvUpload-header__sub {
  display: flex;
  // margin-left: auto;
  align-items: flex-end;
  padding-top: 10px;
}

.p-csvUpload-header__title {
  @include font-size(20px);
  font-weight: bold;
  line-height: 1.4;
}

.p-csvUpload-header__text {
  margin-top: 20px;
  line-height: 1.4;
}

.p-csvUpload-body {
  margin-top: 30px;
}

//フォーム部分のレイアウト
.p-csvUpload-form-unit {
  display: flex;
  // align-items: center;
  & + & {
    margin-top: 30px;
  }
}

.p-csvUpload-form-unit__header {
  margin-right: 10px;
  min-width: 50px;
}

.p-csvUpload-form-unit__header-text {
  font-weight: bold;
  margin-top: 20px;
  transform: translateY(-50%);
}

.p-csvUpload-form-unit__body {
  width: 100%;
}

//submit部分
.p-csvUpload-form-submit {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  @include min-screen("md") {
    flex-direction: row;
  }
}

.p-csvUpload-form-submit__button {
  & + & {
    @include min-screen("md") {
      margin-left: 40px;
    }
  }
  //spはcolumn-reverseなのでfirstで指定
  &:first-of-type {
    margin-top: 16px;
    @include min-screen("md") {
      margin-top: 0;
    }
  }
}

//リセットボタン
.p-csvUpload-form-csvResetButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 35px;
  border: 1px solid #c7c7c7;
  border-radius: 36px;
  @include hover() {
    opacity: 0.8;
  }
}
.p-csvUpload-form-csvResetButton__text {
  @include font-size(16px);
  font-weight: bold;
  // color: #999999;
}

//APIのエラーメッセージ表示エリア
.p-csvUpload-apiErrorMessage {
  background: #ffe8ec;
  border: 1px solid #f50934;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 20px;
  line-height: 1.8;
  margin: 20px 0;
}

.p-csvUpload-apiErrorMessage__text {
  @include font-size(16px);
  color: red;
}