---
/**
 *
 * 基本のレイアウトコンポーネントです。
 *
 * Props
 * headEdit: trueを渡すとheadを編集可能になる
 * その場合必ず
 * <SiteHead slot="site-head" />
 * をslotに渡す。そうしないとhead内のmetaが無くなる
 *
 */

// layouts
import SiteHead from './parts/SiteHead.astro';
import Header from './parts/Header.astro';
import Footer from './parts/Footer.astro';
import BaseScript from './parts/BaseScript.astro';

//style
import '@/styles/base.scss'; //グローバルCSS
import styles from './Layout.module.scss';

type Props = {
  hoge?: string;
  headEdit?: boolean; //head編集
};
const props: Props = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    {props.headEdit ? <slot name="site-head" /> : <SiteHead />}
  </head>
  <body>
    <div class={[styles['site'], 'siteWrapper'].join(' ')}>
      <Header />
      <div class={styles['site-contents']}>
        <main class={styles['site-main']}>
          <slot />
        </main>
      </div>
      <Footer />
    </div>
    <BaseScript />
  </body>
</html>
