---
import SiteHead from './parts/SiteHead.astro';
import type { SiteHeadProps } from './parts/SiteHead.astro';
import Header from './parts/Header.astro';
import Footer from './parts/Footer.astro';
import BaseScript from './parts/BaseScript.astro';

type Props = SiteHeadProps;

//style
import '@/styles/base.scss'; //グローバルCSS

const props: Props = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <SiteHead {...props} />
  </head>
  <body>
    <div class="siteWrapper">
      <Header />
      <slot />
      <Footer />
    </div>
    <BaseScript />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
          Courier New, monospace;
      }
    </style>
  </body>
</html>
